body {
    margin: 0;
    padding: 0;
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.btn-color{
    background: #795da8;
    color: #fff;
}
.btn-color:hover{
    background: #ba97f5;
    color: rgb(0, 0, 0);
}
.mh-600{
    min-height:600px;
}
.bc-0{
    background-color: rgba(0, 0, 0, 0.1);
}
.bc-1{
    background-color: rgba(0, 0, 0, 0.05);
}